<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>
<div class="row">
  <div class="vcenter">
    <div class="box" [ngClass]="{border:true,background: true}"></div>
  </div>
  <div class="vcenter">
    <div class="box" [class.border]="true"></div>
  </div>
  <div class="vcenter">
    <div class="box" [class.background]="true"></div>
  </div>
  <div class="vcenter">
    <div class="box" [ngStyle]="{'background-color': 'red'}"></div>
  </div>
</div>

<hr>
<h2>Custom Attribute Directives</h2>
<div [highlight]="'blue'" [defaultColor]="'red'">Some Text Here</div>

<hr>
<h1>Structural Directives</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text</div>

<template [ngIf]="switch">
  <div>
    Conditional Text
  </div>
</template>

<button (click)="onSwitch()">Switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
  <li *ngFor="let item of items; let i = index"> {{item}} - (Index: {{i}})</li>
</ul>
<hr>
<h2>ngSwitch</h2>
<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Default</p>
</div>

<p [ngSwitch]="value">
  <template [ngSwitchCase]="10">10</template>
  <template [ngSwitchCase]="100">100</template>
  <template ngSwitchDefault>Default</template>
</p>
