<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>
<div class="row">
  <div class="vcenter">
    <div class="box" [ngClass]="{border:true,background: true}"></div>
  </div>
  <div class="vcenter">
    <div class="box" [class.border]="true"></div>
  </div>
  <div class="vcenter">
    <div class="box" [class.background]="true"></div>
  </div>
  <div class="vcenter">
    <div class="box" [ngStyle]="{'background-color': 'red'}"></div>
  </div>
</div>

<hr>
<h2>Custom Attribute Directives</h2>
<div [highlight]="'blue'" [defaultColor]="'red'">Some Text Here</div>
